{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}