{% load staticfiles %}

<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg "
           href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="ti-menu"></i>
        </a>

        <div class="top-left-part">
            <a class="logo" href="{% url 'dashboard' %}">
                <b>
                    <img src="{% static 'plugins/images/logo.png' %}" alt="Anasayfa"/>
                </b>
                <span class="hidden-xs"><strong>STOCK</strong>MANAGER</span>
            </a>
        </div>

        <ul class="nav navbar-top-links navbar-left hidden-xs">
            <li>
                <a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light">
                    <i class="icon-arrow-left-circle ti-menu"></i>
                </a>
            </li>
            <li>
                <form role="search" class="app-search hidden-xs">
                    <input type="text" placeholder="Search" class="form-control">
                    <a href=""><i class="fa fa-search"></i></a>
                </form>
            </li>
        </ul>

        <ul class="nav navbar-top-links navbar-right pull-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                {% if not request.user.is_authenticated %}
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                        <b class="hidden-xs">Welcome!</b>
                    </a>
                {% else %}
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                        <b class="hidden-xs">Welcome, {{ request.user.username }}!</b>
                    </a>
                    <ul class="dropdown-menu dropdown-user animated flipInY">
                        <li><a href="/admin/auth/user/{{ request.user.id }}/change/"><i class="ti-settings"></i> Account Settings</a></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout</a></li>
                    </ul>
                {% endif %}
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>