<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                <!-- input-group -->
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Ara...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>

            <li class="nav-small-cap m-t-10">--- Menu</li>
            <li><a href="{% url 'dashboard' %}" class="waves-effect">
                <i class="fa fa-dashboard"></i>&nbsp;&nbsp;
                <span class="hide-menu">Dashboard </span></a>
            </li>
            <li><a href="javascript:void(0);" class="waves-effect">
                <i class="fa fa-flickr"></i>&nbsp;&nbsp;
                <span class="hide-menu">Accessories</span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'Accessories:accessories_list' %}">All</a>
                    </li>
                    <li>
                        <a href="{% url 'Accessories:complete_list' %}">Complete</a>
                    </li>
                    <li>
                        <a href="{% url 'Accessories:incomplete_list' %}">Incomplete</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>