{% extends 'layout.html' %}

{% block title %} {{ title }} | {{ block.super }}  {% endblock %}

{% block head %} {% endblock %}

{% block page-title %} {{ title }} {% endblock %}

{% block breadcrump %}
    <li><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="active">Accessories</li>
{% endblock %}

{% block content %}
    <div class="row el-element-overlay">
        {% for item in paginator.object_list %}
            <!-- .usercard -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="white-box">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1">
                            {% if item.is_checked %}
                                <div class="ribbon ribbon-corner ribbon-right ribbon-success" style="z-index: 1"
                                     data-toggle="tooltip" title="Checked">
                                    <i class="fa fa-check-circle"></i>
                                </div>
                            {% else %}
                                <div class="ribbon ribbon-corner ribbon-right ribbon-danger" style="z-index: 1"
                                     data-toggle="tooltip" title="Unchecked">
                                    <i class=" fa fa-times-circle"></i>
                                </div>
                            {% endif %}
                            <img src="{{ item.url }}">

                            <div class="el-overlay">
                                <ul class="el-info" style="margin-top: -50px">
                                    <li>
                                        <h3 class="box-title"
                                            style="color: #fff;">{{ item.accessories.stock_code }}</h3>
                                    </li>
                                </ul>
                                <br>
                                <ul class="el-info">
                                    <li>
                                        <a class="btn default btn-outline image-popup-vertical-fit"
                                           href="{{ item.url }}">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn default btn-outline" href="{{ item.get_update_url }}">
                                            <i class="icon-pencil"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn default btn-outline"
                                           href="{{ item.get_details_url }}">
                                            <i class="icon-link"></i>
                                        </a>
                                    </li>
                                </ul>
                                <br>
                                <ul class="el-info" style="margin-top: 60px">
                                    <li>
                                        <h3 class="box-title" style="color: #fff;">
                                            {{ item.accessories.title | truncatechars:50 }}
                                        </h3>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <div class="row" style="margin-bottom: -10px;">
                                <div class="col-lg-6">
                                    <small>SALE: <strong>{{ item.accessories.sales_price }} TL</strong></small>
                                </div>
                                <div class="col-lg-6">
                                    <small>PURCHASE: <strong>{{ item.accessories.purchase_price }} TL</strong></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.usercard-->
        {% endfor %}
    </div>
    <div class="col-md-12" align="center">
        <ul class="pagination">
            {% if paginator.has_previous %}
                <li><a href="?{{ paginator.previous_page_number.querystring }}"
                       class="prev">&lsaquo;&lsaquo;</a></li>
            {% else %}
                <li class="disabled"><span class="disabled prev">&lsaquo;&lsaquo;</span></li>
            {% endif %}
            {% for page in paginator.pages %}
                {% if page %}
                    {% ifequal page paginator.number %}
                        <li class="active"><span class="current page">{{ page }}</span></li>
                    {% else %}
                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li class="disabled"><span class="disabled">...</span></li>
                {% endif %}
            {% endfor %}
            {% if paginator.has_next %}
                <li><a href="?{{ paginator.next_page_number.querystring }}"
                       class="next">&rsaquo;&rsaquo;</a></li>
            {% else %}
                <li><span class="disabled next">&rsaquo;&rsaquo;</span></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}