{% extends 'layout.html' %}

{% block title %}  Accessories Update | {{ block.super }}  {% endblock %}

{% block head %} {% endblock %}

{% block page-title %} Accessories Update {% endblock %}

{% block breadcrump %}
    <li><a href="/">Home</a></li>
    <li><a href="/accessories">Accessories</a></li>
    <li class="active">Update</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <form class="form-material form-horizontal" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-md-12">Stock Code</label>

                        <div class="col-md-12">
                            {{ form.stock_code }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Title</label>

                        <div class="col-md-12">
                            {{ form.title }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-md-12">Sales Price</label>

                            <div class="col-md-12">
                                {{ form.sales_price }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-12">Purchase Price</label>

                            <div class="col-md-12">
                                {{ form.purchase_price }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Tags</label>

                        <div class="col-md-12">
                            <div class="tags-default">
                                {{ form.tags }}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="col-md-12">Summary</label>

                        <div class="col-md-12">
                            {{ form.summary }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %} {% endblock %}