{% extends 'layout.html' %}

{% block title %} {{ image.accessories.title }} | {{ block.super }} {% endblock %}

{% block head %}
    <style type="text/css">
        #checkButton {
            position: fixed;
            bottom: 20px;
            right: 130px;
        }

        #updateButton {
            position: fixed;
            bottom: 20px;
            right: 75px;
        }

        #deleteButton {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }
    </style>
{% endblock %}

{% block page-title %}
    Accessories Details
    {% if image.original %}
        <a href="{{ image.get_details_url }}" class="btn btn-danger m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Instagram</a>
    {% else %}
        <a href="{{ image.get_original_details_url }}" class="btn btn-danger m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Original</a>
    {% endif %}
{% endblock %}

{% block breadcrump %}
    <li><a href="/">Home</a></li>
    <li><a href="/accessories">Accessories</a></li>
    <li class="active">{{ image.accessories.stock_code }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="white-box">
                <div class="user-bg" style="height: auto;" align="center">
                    {% if image.is_checked %}
                        <div class="ribbon ribbon-bookmark ribbon-right ribbon-success">Checked</div>
                    {% else %}
                        <div class="ribbon ribbon-bookmark ribbon-right ribbon-danger">Unchecked</div>
                    {% endif %}
                    <img id="imgPhoto" src="{{ image.url }}" width="100%">
                </div>
                <div class="user-btm-box">
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                        <div class="col-md-12"><strong>{{ image.accessories.stock_code }}</strong>

                            <p>{{ image.accessories.categories.category }}</p>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                        <div class="col-md-6 b-r"><strong>{{ image.accessories.sales_price }} TL</strong>

                            <p>Sales Price</p>
                        </div>
                        <div class="col-md-6"><strong>{{ image.accessories.purchase_price }} TL</strong>

                            <p>Purchase Price</p>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="white-box">
                <div class="row">
                    <div class="col-md-12"><strong>Title</strong>
                        <br>
                        <a href="{{ image.accessories.url }}" target="_blank">
                            <span>{{ image.accessories.title }}</span>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12"><strong>Tags</strong>
                        <br>

                        <p class="text-muted">{{ image.accessories.tags }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 b-r"><strong>Created At</strong>
                        <br>

                        <p class="text-muted">{{ image.accessories.created_at }}</p>
                    </div>
                    <div class="col-md-6"><strong>Updated At</strong>
                        <br>

                        <p class="text-muted">
                            {% if image.accessories.created_at == image.accessories.updated_at %}
                                Not yet updated
                            {% else %}
                                {{ image.accessories.updated_at }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12"><strong>Summary</strong>
                        <br>

                        <p class="text-muted">{{ image.accessories.summary }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if image.is_checked %}
        <a id="checkButton" type="button" class="btn btn-warning btn-circle btn-lg"
                href="{{ image.get_checked_url }}">
            <i class="fa fa-thumbs-down"></i>
        </a>
    {% else %}
        <a id="checkButton" type="button" class="btn btn-success btn-circle btn-lg"
                href="{{ image.get_checked_url }}">
            <i class="fa fa-thumbs-up"></i>
        </a>
    {% endif %}
    <a id="updateButton" type="button" class="btn btn-info btn-circle btn-lg"
            href="{{ image.get_update_url }}">
        <i class="fa fa-edit"></i>
    </a>
    <a id="deleteButton" type="button" class="btn btn-danger btn-circle btn-lg"
            href="{{ image.get_delete_url }}">
        <i class="fa fa-times"></i>
    </a>
{% endblock %}

{% block scripts %} {% endblock %}