{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Stock Manager{% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap-extension/css/bootstrap-extension.css' %}" rel="stylesheet">
    <!-- Font CSS -->
    <link href="{% static 'assets/css/poppins.css' %}" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="{% static 'plugins/sidebar-nav/sidebar-nav.min.css' %}" rel="stylesheet">
    <!-- Magnific CSS -->
    <link href="{% static 'plugins/Magnific-Popup-master/magnific-popup.css' %}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'assets/css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{% static 'assets/css/colors/megna.css' %}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static 'assets/js/html5shiv.js' %}"></script>
        <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->
    {% block head %}

    {% endblock %}
</head>

<body class="fix-sidebar">
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
    <!-- Top Navigation -->
    {% include 'partials/navbar.html' %}
    <!-- End Top Navigation -->

    <!-- Left navbar-header -->
    {% include 'partials/sidebar.html' %}
    <!-- Left navbar-header end -->

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">{% block page-title %}Dashboard{% endblock %}</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        {% block breadcrump %}<li class="active">Dashboard</li>{% endblock %}
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            {% include 'partials/messages.html' %}

            {% block content %}

            {% endblock %}
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'assets/bootstrap/js/tether.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-extension/js/bootstrap-extension.min.js' %}"></script>
<!-- Menu Plugin JavaScript -->
<script src="{% static 'plugins/sidebar-nav/sidebar-nav.min.js' %}"></script>
<!--slimscroll JavaScript -->
<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'assets/js/waves.js' %}"></script>
<!-- Magnific popup JavaScript -->
<script src="{% static 'plugins/Magnific-Popup-master/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'plugins/Magnific-Popup-master/jquery.magnific-popup-init.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'assets/js/custom.min.js' %}"></script>
<script src="{% static 'assets/js/mask.js' %}"></script>
<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>

{% block scripts %}

{% endblock %}
</body>
</html>
