{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login | Stock Manager</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap-extension/css/bootstrap-extension.css' %}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'assets/css/style.min.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static 'assets/js/html5shiv.js' %}"></script>
        <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<section id="wrapper" class="login-register">
    <div class="login-box login-sidebar">
        <div class="white-box" style="margin-top: 10%">
            <form class="form-horizontal form-material" id="login" method="POST">
                {% csrf_token %}
                <a href="javascript:void(0)" class="text-center db">
                    <img src="{% static 'plugins/images/logo.png' %}" alt="Home"/>
                </a>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        {{ form.username | add_class:"form-control" | attr:"placeholder:Username" }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        {{ form.password | add_class:"form-control" | attr:"placeholder:Password" }}
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                type="submit">Log In
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'assets/bootstrap/js/tether.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-extension/js/bootstrap-extension.min.js' %}"></script>
<!-- Menu Plugin JavaScript -->
<script src="{% static 'plugins/sidebar-nav/sidebar-nav.min.js' %}"></script>
<!--slimscroll JavaScript -->
<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'assets/js/waves.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'assets/js/custom.min.js' %}"></script>
</body>
</html>